<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Josh Allen Prediction</title>
</head>
<body>
    <header>
        <div class="header-box">
            <h1>Josh Allen Pass att/yards Prediction</h1>
        </div>
    </header>

    <div class="graph-box">
        <h2>Pass attempts graph</h2>
        <img src="{{ url_for('static', filename='images/ninety_score.png') }}">
    </div>
</body>
</html>